<h1>Welcome</h1>
<p>Welcome to Simons Voss search Functionality:</p>
<div>
  <p>More than 20 years ago, we paved the way with a revolutionary idea of digital locking technology. Today, we are still pursuing new ideas on a daily basis and continuously developing our product portfolio. Our heart beats for our customers, employees and partners. And for the technology with which we pursue our vision of the keyless world.</p>
</div>

<h1>Enter the Search Text below:</h1>
<div class="SearchDiv input-group marginTop-20">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="loadSearchResult()" >Search</button>
</div>
<div *ngIf="searchResults" class="marginTop-20">
  <h3> Search results: </h3>
  <ng-container *ngFor="let searchResult of searchResults">
      
    <app-building *ngIf="searchResult.EntityType==='Building'" [building]="searchResult">
    </app-building>
    
    <app-group *ngIf="searchResult.EntityType==='Group'" [group]="searchResult">
    </app-group>

    <app-lock *ngIf="searchResult.EntityType==='Lock'" [lock]="searchResult"> 
    </app-lock>


  </ng-container>
  {{ searchResults | json }}
</div>